body {
    color: rgb(224, 200, 89);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #475;
    color: white;
    margin: 0;
    box-shadow: 0px 5px 30px 0px;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 50 auto;

}

#container h1{
    font-size: 20px;
}
#post
{
    padding: 1em;
}