body {
    color: rgb(0, 0, 0);;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: rgb(12, 31, 21);
}
#cabecera
{
    background: rgb(98, 192, 105) ;
    color: white;
    margin: 0;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    padding: 0.3em 0 0.3em 2em
    
}

#cabecera #tagline
{   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 2em;
}

#cabecera #logo
{

    width: 50px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    
}

#container h1{
    font-size: 34px;
}
#post
{
    background: white;
    padding: 1em;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
  
}